<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Mon projet Django</title>
  </head>
  <body>
    <h1 style="text-align: center; text-decoration: underline;">Tous les animaux de la famille: <span style="color: red;">{{ family.name }}</span></h1>

    <table class="table">
      {% for animal in animals %}
        <tr>
          <td>{{ animal.legs }} pieds</td>
          <td>
            <a href="{% url 'animal' animal.id %}" class="btn btn-primary">Voir</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
