<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Todo</title>
</head>

<body>
    <h1>Ajouter todo</h1>
    <form action="" method="POST">
        <div style="padding:20px">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <button type="submit">Send</button>
        </div>
    </form>
</body>