{% extends 'base.html' %}
{% block content %}
<div class="tweet-container">
    <div class="tweet-card" id="tweet-1">
        <div class="card-body">
            <h5 class="card-title">Tweet 1</h5>
            <p class="card-text">Ceci est un test</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" onclick="deleteTweet('tweet-1')">Delete</button>
        </div>
    </div>
    <div class="tweet-card" id="tweet-2">
        <div class="card-body">
            <h5 class="card-title">Tweet 2</h5>
            <p class="card-text">Ceci est un test</p>
        </div>
        <div class="card-footer">
            <button class="btn btn-danger" onclick="deleteTweet('tweet-2')">Delete</button>
        </div>
    </div>
</div>
<script>
    function deleteTweet(tweetId) {
        var tweetElement = document.getElementById(tweetId);
        tweetElement.parentNode.removeChild(tweetElement);
    }
</script>
{% endblock %}